VITE_SUPABASE_URL=https://jkbetmadzcpoinjogkli.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprYmV0bWFkemNwb2luam9na2xpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1NjIyNDUsImV4cCI6MjA1ODEzODI0NX0.K5nuL4m8sP1bC21TmsfpakY5cSfh_5pSLJ83G9Iu_-I
VITE_CLAUDE_API_KEY=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
VITE_OPENAI_API_KEY=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

# Server-side only - do not prefix with VITE_
SUPABASE_URL=yhttps://jkbetmadzcpoinjogkli.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprYmV0bWFkemNwb2luam9na2xpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjU2MjI0NSwiZXhwIjoyMDU4MTM4MjQ1fQ.QNvP9jEiSSfs_2-aFmtDt1xEMY_vwpU_ZT-CYRlgS98
